{% extends "base.html" %}

{% block content %}
<div class="container">
  <!-- Image centrée en haut de la page -->
  <div class="text-center">
    <img src="https://assets-global.website-files.com/6228e0d5da93372713e58965/62b4c97881a2cd6e5d4d0667_noocode--10-p-500.webp" alt="Noocode Image" style="margin-bottom: 20px;">
  </div>
  <section>
    <div class="page-header"><h1>{{ _('Set Secret') }}</h1></div>
    <div class="row">
      <form role="form" id="password_create" method="post" autocomplete="off">
        <div class="col-sm-6 margin-bottom-10">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <textarea rows="10" cols="50" id="password" name="password" autofocus="true" class="form-control" placeholder="{{ _('SnapPass allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click Generate URL. Share the one-time use URL with your intended recipient.') }}" aria-describedby="basic-addon1" autocomplete="off" required></textarea>
          </div>
        </div>

        <div class="col-sm-2 margin-bottom-10">
          <select class="form-control" name="ttl">
            <option value="Two Weeks">{{ _('Two Weeks') }}</option>
            <option value="Week" selected="selected">{{ _('Week') }}</option>
            <option value="Day">{{ _('Day') }}</option>
            <option value="Hour">{{ _('Hour') }}</option>
          </select>
        </div>

        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary" id="submit">{{ _('Generate URL') }}</button>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
